@media screen and (max-width: 480px) {
  .hero-text {
    font-size: 24px;
    line-height: 36px;
  }
  .unhappy-text {
    font-size: 12px;
    line-height: 18px;
  }
  .sub-section h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .sub-section p {
    font-size: 12px;
    line-height: 18px;
  }
  .contact-form {
    width: 100%;
  }
  .form-question {
    font-size: 10px;
    line-height: 15px;
  }
  .section-heading {
    font-size: 24px;
    line-height: 36px;
  }
  #services {
    flex-direction: column;
  }
  .service {
    width: 90%;
  }
  .service button {
    margin-bottom: 50px;
  }
  #services-section-heading {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .good-design-models {
    width: 90%;
    flex-direction: column;
    row-gap: 40px;
  }
  .team {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  #see-more {
    margin-left: 5%;
    margin-top: 30px;
    font-size: 18px;
    line-height: 27px;
  }
  .design img {
    width: 100%;
  }
  .design-name {
    width: 90vw;
    font-size: 18px;
    line-height: 27px;
  }
  .offset-top {
    margin-top: 0;
  }
  .offset-bottom {
    margin-bottom: 0;
  }
  .end-text {
    width: 90%;
    margin: auto;
    font-size: 24px;
    line-height: 36px;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .team-text {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  #img1 {
    width: 45vw;
    height: 45vw;
  }
  #img2 {
    width: 35vw;
    height: 35vw;
  }
  #img3 {
    width: 41vw;
    height: 41vw;
  }
  .img2-3 {
    row-gap: 5px;
  }
  .end-container {
    width: 90%;
    margin-left: 5%;
  }
  .end-note {
    margin-bottom: 70px;
  }
  .footer-container {
    flex-direction: column;
    row-gap: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .contact-form-items button {
    width: 20%;
  }
  .contact-form-items input {
    width: 80%;
    height: 47px;
  }

  .design-type {
    font-size: 12px;
    line-height: 18px;
  }
}
