* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav span {
  width: 20%;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  color: #333333;
}

.fa-bars {
  display: none;
}

nav li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 2%;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.hero-container {
  width: 60%;
  margin: 5% auto 3%;
}

.unhappy-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2d9cdb;
}

.hero-text {
  width: 12em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}
header img {
  width: 90%;
  margin-left: 5%;
  border-radius: 18px;
}

.sub-section h2 {
  width: 8em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}
.sub-section p {
  width: 20em;
  margin-top: 02%;
  margin-bottom: 5%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4f4f4f;
}
.sub-section {
  width: 60%;
  margin: 4% auto 9%;
}

.form-question {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}
.contact-form-items input {
  background: #f2f2f2;
  border-radius: 12px;
  line-height: 20px;
  width: 20vw;
  height: 50px;
  border: none;
}
.contact-form-items button {
  background-color: #2d9cdb;
  border-radius: 12px;
  line-height: 20px;
  width: 70px;
  border: none;
  color: white;
}
.contact-form-items {
  display: flex;
  column-gap: 5px;
  margin-top: 15px;
}

.section-heading {
  width: 12em;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 3%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
}

#services {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 5% auto 8%;
  justify-content: center;
  column-gap: 10%;
}
#services-section-heading {
  width: 10em;
}
.service {
  width: 35%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}
.service-logo {
  width: 67px;
  height: 67px;
  border-radius: 16px;
  border: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue {
  background-color: #2d9cdb;
}
.green {
  background-color: #27ae60;
}
.red {
  background-color: #eb5757;
}
.service-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
.service-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}
.service button {
  width: 130px;
  height: 2.5em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  border: none;
  border-radius: 12px;
}
.service button:hover {
  background-color: #2d9cdb;
  color: white;
}
.good-design-models {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 8%;
}
.offset-top {
  margin-top: 15%;
}
.offset-bottom {
  margin-bottom: 15%;
}
.design img {
  border-radius: 20px;
  width: 38vw;
}
.design-type {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}
.design-name {
  width: 38vw;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
#see-more {
  width: 90%;
  text-align: end;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2d9cdb;
}
.team-img {
  display: flex;
  column-gap: 1vw;
}
.img2-3 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.team {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  justify-content: space-between;
}
.team-img img {
  border-radius: 18px;
}
#img1 {
  width: 18vw;
  height: 18vw;
}
#img2 {
  width: 15vw;
  height: 15vw;
}
#img3 {
  width: 17vw;
  height: 17vw;
}
.img1 {
  display: flex;
  align-items: center;
}
#text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: red;
}
#text2 {
  width: 8em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
}
#text3 {
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}
.team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.end-note {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
}
.end-text {
  width: 60%;
  margin-left: 10%;
  margin-top: 10%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
}
.end-container {
  display: flex;
  margin-left: 10%;
}
.end-container img {
  width: 100px;
  margin-top: 1%;
}
#carlos {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
#decorate {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
}
.end-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 2%;
}
.end-container img {
  border-radius: 15px;
}
.footer {
  background: #100e1d;
  padding-top: 3%;
  padding-bottom: 1%;
}
.footer-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 5%;
}
.links li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  /* or 36px */
  color: #ffffff;
}
.social-media-container span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  color: #f2f2f2;
}
.social-media-icons i {
  color: white;
  font-size: 30px;
  margin-right: 10px;
}
.footer-question {
  color: #f2f2f2;
}
.username {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f2f2f2;
}

@media screen and (max-width: 980px) {
  nav ul {
    display: none;
  }
  .fa-bars {
    display: block;
    font-size: 25px;
    margin-top: 10px;
  }
}
