@media screen and (max-width: 768px) {
    .hero-text, .sub-section h2 {
        font-size: 34px;
        line-height: 46px;
    }
    .hero-container, .sub-section {
        width: 70%;
    }
    .service button {
        width: 130px;
    }
}